@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  background-color: #4c4d41;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

h4 {
  display: flex;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

h5 {
  display: flex;
  margin: 0.25rem 0;
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

p {
  font-size: 13px;
  margin: 0 0 0.25rem;
}

form {
  margin: 0.25rem 0;
}

label {
  font-weight: bold;
  font-size: 1rem;
  padding-right: 0.2rem;
}

textarea {
  resize: none;
}

button {
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #bdbdbd;
  box-shadow: 0 0 2px grey; 
}

::-webkit-scrollbar {
  background: #d6d6d6;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a5a4a4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}