.title {
  display: flex;
  justify-content: center;
}

.boardList {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5rem;
  min-height: 88vh;
}

.boardSection {
  background-color: #dcdcdc;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0.2rem;
  height: fit-content;
  padding: 0.4rem;
  width: 230px;
}

.taskSection {
  max-height: 68vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 230px;
  padding-right: 0.2rem;
}

.task {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 #091e4240;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.formAddTask {
  background-color: #dcdcdc;
  border: none;
  color: black;
}

.formInput {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.buttonSelect button {
  margin-right: 0.1rem;
}

.backlogDot {
  background-color: #8b0000;
  border-radius: 50%;
  display: flex;
  height: 1rem;
  width: 1rem;
}

.activeDot {
  background-color: #4169e1;
  border-radius: 50%;
  display: flex;
  height: 1rem;
  width: 1rem;
}

.reviewDot {
  background-color: orange;
  border-radius: 50%;
  display: flex;
  height: 1rem;
  width: 1rem;
}

.resolvedDot {
  background-color: #2e8b57;
  border-radius: 50%;
  display: flex;
  height: 1rem;
  width: 1rem;
}
@media all and (min-width: 1024px) {
  .boardList {
    width: 100vw;
  }
}

@media all and (min-width: 1040px) {
  .boardList {
    justify-content: center;
  }
}