.title {
  display: flex;
  justify-content: center;
}

.boardList {
  display: flex;
  justify-content: space-around;
}

.task {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin-bottom: 1rem;
  min-width: 6rem;
}